     	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    		<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>

	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	        	<div class="navbar-nav ml-auto">
	        		<%= link_to 'Home', root_path, class: "nav-item nav-link" %>
	        		&nbsp;&nbsp;&nbsp;&nbsp;
	            	<% if !current_user %>
	        		<%= link_to 'Log-in', new_session_path, class: "nav-item nav-link" %>
	        		<% else %>
	        		<div class="dropdown show">
	        			<a class="nav-item nav-link" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello <%= current_user.username %></a>
	        			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	        				<%= link_to 'Profile', user_path(current_user.id), class: "dropdown-item" %>
	        				<%= link_to 'Apply Job', list_applyment_path(current_user.id), class: "list-group-item list-group-item-action bg-light" %>
	        				<%= link_to 'Log-Out', session_path(current_user.id), method: "DELETE", class: "dropdown-item" %>
	        			</div>
	        		</div>
	            	<% end %>

	        	</div>
	        </div>
	      </nav>